{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="wrap">
  <form class="box-form" method="POST" autocomplete="off">
      <h2>Register</h2>
      
      <label>Username:</label><br>
      <input type="text" name="username"><br><br>
        
      <label>Password:</label><br>
      <input type="password" name="password"><br><br>
      
      <input type="submit" value="Daftar">
  </form>

  <p>
    <a href="{{ url_for('auth.login') }}">Sudah punya akun? Login</a>
  </p>
</div>
{% endblock %}